<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>TodoIt</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/app.css" />
	<meta name="viewport" content="width=device-width">
</head>

<body ng-controller="FrameController">
	<div ng-controller="DashboardController">
		<h1>{{ today }}</h1>
		<h2>Welcome back {{name}}</h2>
		<input ng-model="newEntry.date" type="text" placeholder="New Entry" />

		<div our-calendar ng-model='newEntry.date' showshortmonth='true'>
			<h3>Today</h3>
		</div>
	 
		<ul>
		<li ng-repeat="events in events | excludeByDate">{{event.summary}}</li>

		</ul>
	</div>
<!-- Library files -->
<script src="lib/angular.js"></script>
<script src="lib/angular-route.js"></script>
<script src="lib/chrono.min.js"></script>

<!-- App files -->
<script src="js/filters.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/services.js"></script>
<script src="js/app.js"></script>
</body>
</html>







